/* Global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variáveis de Cores */
:root {
  --main-color: #da190f;
  --txt-color: #fff;
  --bg: #13131a;
  --bg-card: #0c0c14;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--txt-color);
  border-radius: 5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background-color: var(--bg);
}

section {
  padding: 1rem 10rem;
}

h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--txt-color);
}

a:hover {
  color: var(--main-color);
}

.heading {
  text-align: center;
  color: var(--txt-color);
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 2.4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  background-color: var(--main-color);
  color: var(--txt-color);
  padding: 0.9rem 3rem;
  font-size: 0.92rem;
  border-radius: 0.5rem;
}

.btn:hover {
  letter-spacing: 0.03rem;
  font-weight: 700;
}

/* Header */
.header {
  background-color: var(--bg);
  display: flex;
  flex: col;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  height: 3.5rem;
  border-radius: 50%;
}

.logo:hover {
  border-radius: 25%;
}

.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  text-transform: uppercase;
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons ion-icon {
  color: var(--txt-color);
  font-size: 1.8rem;
}

.icons ion-icon:hover {
  color: var(--main-color);
}

#btn-menu {
  display: none;
}

/* Home */
.home {
  margin-top: 5.75rem;
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: var(--border);
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

/* Sobre */
.about-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--bg-card);
  flex-wrap: wrap;
  border: var(--border);
  flex-flow: row;
  flex-wrap: wrap;
}

.about-image,
.about-content {
  flex: 1 1 27rem;
}

.about-image img {
  width: 100%;
  height: 100%;
}

.about-content {
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: start;
}

/* Menu e Products*/
.box-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  border: var(--border);
  padding: 2rem;
}

.card-paragraph {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-span {
  font-size: 0.9rem;
  text-decoration: line-through;
  font-weight: 400;
}

.card-image {
  width: 20rem;
}

.card-icons {
  display: flex;
  gap: 1rem;
}

.card-icons ion-icon {
  color: var(--txt-color);
  font-size: 1.8rem;
}

.card-icons ion-icon:hover {
  color: var(--main-color);
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

.card-content .card-icons ion-icon {
  color: var(--main-color);
  font-size: 1.5rem;
}

/* Avaliações */
.review .card {
  justify-content: start;
}

.review .card-paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}

.review .card-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.card-person {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.review .card-icons ion-icon {
  color: var(--main-color);
  font-size: 1.5rem;
}

/* Rodapé */
.footer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.footer .heading {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

.footer-columns {
  display: grid;
  flex-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  align-items: start;
  padding: 2rem 12%;
}

.footer-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.footer-copyright {
  border-top: var(--border);
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.footer-icons {
  font-size: 2rem;
}

/* Media Queries  */
@media (max-width: 1200px) {
  .header,
  section,
  .footer {
    padding: 1rem 5rem;
  }

  .about-container {
    flex-flow: column;
    align-items: center;
  }

  .about-content {
    align-items: center;
  }
  .about-content h3,
  .about-content p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header,
  section,
  .footer {
    padding: 1rem 1rem;
  }

  .navbar {
    display: none;
  }
}

@media (max-width: 556px) {
  .card-image {
    width: 80vw;
  }
}
